.drawingpage-container {
  box-shadow: 1px 1px 10px 1px rgb(182, 182, 182);
  background-color: white;
  max-width: 1000px;
  position: relative;
}

.drawingpage-container h1 {
  background-color: var(--primary);
}

.drawingpage-imgcontainer img {
  width: 100%;
}

.drawingpage-imgcontainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
}

.drawingpage-textcontainer {
  min-width: 250px;
}
