.footer {
  background-color: var(--primary);
  color: white;
  padding: 16px;
  margin-top: auto;
}
.footer-list li {
  list-style: none;
}
.footer-list li:not(:first-child) {
  margin-left: 8px;
}

@media (max-width: 400px) {
  .footer {
    padding: 6px !important;
  }
}
