* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2 {
  font-family: 'Lato', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

.footer a,
.footer a:focus {
  text-decoration: none !important;
  color: inherit !important;
}
.footer a:hover {
  color: var(--secondary) !important;
}

.page-title {
  position: relative;
  color: var(--primary) !important;
}

.page-title::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  width: 30%;
  height: 5px;
  background-color: var(--secondary);
}

.page-title::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 50%;
  width: 30%;
  height: 5px;
  background-color: var(--secondary);
}

.pagecontainer {
  flex: 1 0 auto;
  min-height: 100vh;
}

.btn-primary {
  color: white !important;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.backto-sticky {
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--secondary);
}
