.navbar-nav a {
  color: white !important;
  border-bottom: 2px dotted #dacc3e;
}

.navbar-nav a:first-child {
  border-top: 2px dotted #dacc3e;
}

.navbar-nav .active {
  background-color: var(--secondary) !important;
}
.navbar-toggler {
  border: 0px !important;
}

.hamburger-react div {
  height: 4px !important;
}

@media (max-width: 575px) {
  .navbar-nav {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .navbar-nav a {
    border: none !important;
  }
  .navbar-nav a:first-child {
    border: none !important;
  }
}
