.popup-container {
  position: fixed;
  background: #33333380;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup {
  position: relative;
  margin: 0 auto;
  top: 30%;
  padding: 20px;
  overflow: auto;
}

.popup button {
  margin: 8px;
}
